@import "mixins";
@import "variables";
@import "base";

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: $background-color;
    color: $font-primary-color;
}

.btn {
    @include flex-center;
    text-align: center;
    width: fit-content;
    gap: 0.6rem;
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
    border-radius: $border-radius;

    &--back {
        color: $primary-color;
        padding: 0;
    }

    &--success {
        @include button-styles($success-color, $font-secondary-color);
    }

    &--out-success {
        @include button-styles(lighten($success-color, 60%), $success-color, $success-color, lighten($success-color, 53%));
    }

    &--danger {
        @include button-styles($danger-color, $font-secondary-color);
    }

    &--out-danger {
        @include button-styles(lighten($danger-color, 50%), $danger-color, $danger-color, lighten($danger-color, 45%));
    }
}

.loader {
    @include flex-center;
    width: 100%;
    margin: 2rem 0;

    &__spinner {
        width: 2.8rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 3px solid $primary-color;
        border-left-color: lighten($primary-color, 60%);
        animation: spin 1s linear infinite;
    }
}

.toast {
    border-radius: $border-radius;
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-size: 1.6rem;
    background: darken($background-color, 4%);
    display: flex;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    box-shadow: $box-shadow-sm;

    &.active {
        opacity: 1;
        transform: translateX(0%);
    }

    &__banner {
        width: 1.5rem;
        height: auto;

        &--success {
            background: $success-color;
        }

        &--danger {
            background: $danger-color;
        }
    }

    &__message {
        @include flex-center;
        gap: 0.6rem;
        padding: 1rem 2rem 1rem 1rem;
        white-space: nowrap;
    }
}

.alert {
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    border: 1px solid $border-color;
    padding: 1rem;
    background: darken($background-color, 1.5%);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0 0 0 / 30%);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__dialog {
        width: 90%;
        max-width: 540px;
        max-height: 90%;
        overflow-y: auto;
        background: $background-color;
        border: 1px solid $border-color;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius;
        padding: 2rem;
    }

    &__title {
        margin-bottom: 2rem;
        font-weight: 500;
        font-size: 2.6rem;
    }
}

.form {
    display: grid;
    gap: 1rem;
    font-size: 1.4rem;

    &__group {
        display: grid;
        gap: .25rem;

        input,
        textarea {
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: .8rem;
        }
    }

    &__helper {
        font-size: 1.2rem;
        color: $danger-color;
    }

    &__footer {
        display: grid;
        gap: 0.5rem;
        margin-top: 2rem;

        >* {
            width: auto;
            justify-content: center;
            padding: .8rem;
        }
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 768px;
}

.header {
    height: 10vh;
    background: darken($background-color, 10%);
    position: sticky;
    top: 0;
    border-bottom: 1px solid $border-color;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        height: 100%;
    }

    &__greetings {
        font-size: 2.4rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            font-size: 2rem;
            transition: color .3s ease;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

main {
    padding: 5rem 0 10rem 0;
    min-height: 80vh;
    font-size: 1.4rem;

}

.presentation {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;

    &__title {
        font-size: 3.2rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    &__text {
        font-size: 1.8rem;
        color: lighten($font-primary-color, 30%);
    }
}

.preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;

    .post {
        background: darken($background-color, 2%);
        border-radius: $border-radius;
        border: 1px solid $border-color;
        padding: 2rem;
        width: 100%;
        flex-grow: 1;

        &--hover {
            transition: box-shadow .3s ease;

            &:hover {
                box-shadow: $box-shadow-sm;
            }
        }

        &__title {
            font-size: 2.8rem;
            font-weight: 500;
        }

        &__description {
            font-size: 1.8rem;
            margin-top: .3rem;
            color: lighten($font-primary-color, 30%);
        }

        &__date {
            font-size: 1.2rem;
            color: lighten($font-primary-color, 50%);
            margin-top: 1rem;
        }

        &__buttons {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-top: 3rem;

            button:last-of-type {
                margin-left: auto;
            }

            @media(width <=768px) {
                button:last-of-type {
                    margin-left: initial;
                }

                >* {
                    width: 100%;
                }
            }
        }
    }
}

.view {
    display: grid;
    gap: 2rem;

    &__title {
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__footer {
        border-top: 1px solid $border-color;
        margin-top: 2rem;
        padding-top: 2rem;

        p {
            font-size: 1.8rem;
            margin-bottom: 0.6rem;
        }
    }

    &__content {
        display: grid;
        gap: 2rem;
        font-size: 1.6rem;

        img,
        iframe {
            border: 1px solid $border-color;
            width: 100%;
            aspect-ratio: 16/9;
            margin: 0 auto;
            object-fit: cover;
        }

        ul,
        ol {
            margin-left: 4rem;
        }

        h1 {
            font-size: 2.8rem;
        }

        h2 {
            font-size: 2.4rem;
        }

        h3 {
            font-size: 2rem;
        }

        a {
            color: $primary-color;

            &:hover {
                color: darken($primary-color, 10%);
            }
        }
    }
}

.admin {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        @media(width <=768px) {
            width: 100%;

            >* {
                flex-grow: 1;
            }
        }
    }

    &__title {
        font-size: 2.8rem;
        font-weight: 500;
        margin-bottom: 0;
    }
}

.not-found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    
    &__title {
        font-size: 8rem;
        font-weight: normal;
    }

    &__text {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    &__link {
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }
}

.footer {
    display: grid;
    place-items: center;
    height: 10vh;
    font-size: 1.4rem;

    a {
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }
}