@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", system-ui, sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a.btn {
  padding: 0.7rem 1.6rem;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
  background: none;
  resize: none;
  border: none;
}

button {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #fff;
  color: #000;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.6rem;
  font-size: 1.4rem;
  padding: 0.6rem 1.6rem;
  border-radius: 3px;
}
.btn--back {
  color: #25862a;
  padding: 0;
}
.btn--success {
  background: #25862a;
  color: #fff;
  border: none;
  transition: background 0.3s ease;
}
.btn--success:hover {
  background: #1a5e1d;
}
.btn--out-success {
  background: #e5f8e6;
  color: #25862a;
  border: 1px solid #25862a;
  transition: background 0.3s ease;
}
.btn--out-success:hover {
  background: #c9f0cb;
}
.btn--danger {
  background: #b93232;
  color: #fff;
  border: none;
  transition: background 0.3s ease;
}
.btn--danger:hover {
  background: #912727;
}
.btn--out-danger {
  background: #fbefef;
  color: #b93232;
  border: 1px solid #b93232;
  transition: background 0.3s ease;
}
.btn--out-danger:hover {
  background: #f5dbdb;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}
.loader__spinner {
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #25862a;
  border-left-color: #e5f8e6;
  animation: spin 1s linear infinite;
}

.toast {
  border-radius: 3px;
  position: fixed;
  right: 2rem;
  top: 2rem;
  font-size: 1.6rem;
  background: whitesmoke;
  display: flex;
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.toast.active {
  opacity: 1;
  transform: translateX(0%);
}
.toast__banner {
  width: 1.5rem;
  height: auto;
}
.toast__banner--success {
  background: #25862a;
}
.toast__banner--danger {
  background: #b93232;
}
.toast__message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1rem 2rem 1rem 1rem;
  white-space: nowrap;
}

.alert {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  border: 1px solid #e9e9e9;
  padding: 1rem;
  background: #fbfbfb;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__dialog {
  width: 90%;
  max-width: 540px;
  max-height: 90%;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  padding: 2rem;
}
.modal__title {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.6rem;
}

.form {
  display: grid;
  gap: 1rem;
  font-size: 1.4rem;
}
.form__group {
  display: grid;
  gap: 0.25rem;
}
.form__group input,
.form__group textarea {
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 0.8rem;
}
.form__helper {
  font-size: 1.2rem;
  color: #b93232;
}
.form__footer {
  display: grid;
  gap: 0.5rem;
  margin-top: 2rem;
}
.form__footer > * {
  width: auto;
  justify-content: center;
  padding: 0.8rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 768px;
}

.header {
  height: 10vh;
  background: #e6e6e6;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e9e9e9;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100%;
}
.header__greetings {
  font-size: 2.4rem;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__nav a {
  font-size: 2rem;
  transition: color 0.3s ease;
}
.header__nav a:hover {
  color: #25862a;
}

main {
  padding: 5rem 0 10rem 0;
  min-height: 80vh;
  font-size: 1.4rem;
}

.presentation {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}
.presentation__title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.presentation__text {
  font-size: 1.8rem;
  color: #4d4d4d;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
}
.preview .post {
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  padding: 2rem;
  width: 100%;
  flex-grow: 1;
}
.preview .post--hover {
  transition: box-shadow 0.3s ease;
}
.preview .post--hover:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.preview .post__title {
  font-size: 2.8rem;
  font-weight: 500;
}
.preview .post__description {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  color: #4d4d4d;
}
.preview .post__date {
  font-size: 1.2rem;
  color: gray;
  margin-top: 1rem;
}
.preview .post__buttons {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 3rem;
}
.preview .post__buttons button:last-of-type {
  margin-left: auto;
}
@media (width <= 768px) {
  .preview .post__buttons button:last-of-type {
    margin-left: initial;
  }
  .preview .post__buttons > * {
    width: 100%;
  }
}

.view {
  display: grid;
  gap: 2rem;
}
.view__title {
  font-size: 3.2rem;
  font-weight: 600;
}
.view__footer {
  border-top: 1px solid #e9e9e9;
  margin-top: 2rem;
  padding-top: 2rem;
}
.view__footer p {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.view__content {
  display: grid;
  gap: 2rem;
  font-size: 1.6rem;
}
.view__content img,
.view__content iframe {
  border: 1px solid #e9e9e9;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.view__content ul,
.view__content ol {
  margin-left: 4rem;
}
.view__content h1 {
  font-size: 2.8rem;
}
.view__content h2 {
  font-size: 2.4rem;
}
.view__content h3 {
  font-size: 2rem;
}
.view__content a {
  color: #25862a;
}
.view__content a:hover {
  color: #1a5e1d;
}

.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.admin__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (width <= 768px) {
  .admin__buttons {
    width: 100%;
  }
  .admin__buttons > * {
    flex-grow: 1;
  }
}
.admin__title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 0;
}

.not-found {
  display: grid;
  place-items: center;
  text-align: center;
}
.not-found__title {
  font-size: 8rem;
  font-weight: normal;
}
.not-found__text {
  font-size: 3rem;
  margin: 0.5rem 0 1rem 0;
}
.not-found__link {
  color: #25862a;
}
.not-found__link:hover {
  color: #1a5e1d;
}

.footer {
  display: grid;
  place-items: center;
  height: 10vh;
  font-size: 1.4rem;
}
.footer a {
  color: #25862a;
}
.footer a:hover {
  color: #1a5e1d;
}